<div class="contents-container">
  <div class="video-card">

    <div class="video-title">
      <h1>{{video.title}}</h1>
    </div>

    <a id="edit" class="input-button" href="/videos/update/{{video._id}}">
      <div class="button update-button">
        Edit
      </div>
    </a><br/>

    <a id="delete" class="input-button" href="javascript:void(0)">
      <div class="button delete-button">
        Delete
      </div>
    </a><br/>
    
    <form id="delete-form" class="delete-form" action="/videos/{{video._id}}/deletions" method="post">
    </form>

    <iframe class="video-player" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>

    <div class="video-description">
      <p>{{video.description}}</p>
    </div>
    
  </div>
</div>


<script>
    
    function handleClick(e) {
      document.getElementById('delete-form').submit();
    }

    document.getElementById('delete').onclick = handleClick;
    
</script>